---
import Nav from "../components/navegacion.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <h1 class="text-3xl text-amber-400 font-bold text-center">Conozca nuestro Portafolio de Clientes</h1>
    <p class="text-xl text-lg text-center">Aqui esta el listado de clientes</p>
    <button class="bg-lime-500 rounded-md">
        <Nav title="Inicio" href="."/>
    </button>
</body>
</html>