<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí</title>
</head>
<body>
    <h1 class="text-orange-400 text-3xl font-bold">Acerca de nosotros</h1>
    
</body>
</html>