---
interface Props {
    title?: string;
    content?: string;
}

const {title = "Default title", content = "content default"} = Astro.props
console.log(title, content);
---

<div class="bg-sky-500 p-8 mb-3 mx-3 border-4 border-orange-300 rounded-md">
    <h1>{title}</h1>
    <p>{content}</p>
</div>


<style>
    .card {
        background: #fff;
        color: #202020;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 300px;
        margin-bottom: 5px;
    }
</style>