---
import Layout from '../components/layout.astro'
---

<Layout pageTitle="Conoce mas de nosotros">
    <h1>Acerca de mi web</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, dolorem.</p>
</Layout>