---
import Layout from '../components/layout.astro'
---

<Layout pageTitle="Pagina Layout" pageDescription="esta es una pagina para ofrecer srvicios de desarrollo de software">
    <h1>Pagina inicial</h1>
    <p>Bienvenido a mi Blog</p>
</Layout>
